*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar{
  border: 2px solid #202127;
  /* border-bottom: rgb(182, 13, 13); */
  background-color: var(--bg-color);
  width: 100%;
  height: 70px;
  display: flex;
  /* background-color: rgb(105, 102, 102); */

  position: fixed;
  z-index: 1;
}
body{
  background-color: var(--bg-color);
  color: var(--text-color);
}
#right-nav{
  /* border: 2px solid red; */
  width: 60%;
  height: 50px;
  display: flex;
}
#left-nav{
  /* border: 2px solid yellow; */
  width: 40%;
  height: 50px;
  /* display: flex; */
}
#icon{
  position: absolute;
  left: 160px;
  top: 25px;
  color: #18181a;
}
ol{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  list-style: none;
  /* color: white; */
  margin: 0px;
}
#hover :hover{
  color: blue;
}
#tittle{
  
  position: absolute;
  top: 15px;
  left: 65px;
  font-size: 30px;
  list-style: none;
}
.input-text{
  margin-left: 90px;
  width: 150px;
  height: 40px;
  margin-top: 15px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  
}

ul{
  list-style: none;
}
span img{
  height: 35px;
  margin-left: 30px;
  margin-top: 12px;
}
#section1{
  /* border: 2px solid rebeccapurple; */
  height: 600px;
  width: 100%;
  display: flex;
  /* background-color:rgb(105, 102, 102) ; */
  /* background-color: #202127; */
}
#section1-box{
  /* border: 2px solid red; */
  height: 390px;
  width: 40%;
  margin-top: 128px;
  margin-left: 80px;
}
#section1-box p{
  font-size: 23px;
}
#section1-box1{
  /* border: 2px solid red; */
  width: 40%;
  height: 390px;
  margin-top: 128px;
  margin-left: 100px;
}
#section1-box1 img{
  height: 350px;
  /* background-color: #FBBCB9; */
  /* transform: translate(-50%) */
}
#btn1{
  position: relative;
  top: 50px;
  left: 30px;
  border-radius: 20px;
  height: 40px;
  width: 170px;
  background-color: rgb(67, 67, 197);
}
#section1-head{
  position: relative;
  /* top: 30px; */
  font-size: 50px;
  color: orangered;
}
#btn2{
  position: relative;
  top: 50px;
  left: 60px;
  border-radius: 20px;
  height: 40px;
  width: 170px;
}
#heading{
  position: relative;
  top: 6px;
  font-size: 55px;
  /* color: white; */
}
#section1-para{
  position: relative;
  top: 40px;
}
#section2{
  border: 2px solid black;
  width: 100%;
  height: 800px;
  /* background-color: #202127; */
}
#section2-block{
  /* border: 2px solid yellow; */
  width: 90%;
  margin: auto;
  height: 500px;
  margin-top: 50px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* justify-content: space-around;
   */
  justify-content: space-around;
}
#section2-block div{
  border: 2px solid #18181a;
  height: 200px;
  width: 290px;
  border-radius: 15px;
}
div h1{
  /* color: white; */
  position: relative;
  top: 20px;
  font-size: 20px;
  /* background-color: #202127; */
}
div p{
  /* color: white; */
  position: relative;
  top: 50px;
  /* background-color: #202127; */
}
div h3{
  /* color: white; */
  margin-top: 60px;
  /* background-color: #202127; */
}
#border-radius:hover{
  border: 2px solid blue;
}
#footer{
  border: 2px solid black;
  height: 100px;
  margin-top: 150px;
}
#footer h2{
  margin-left: 425px;
  font-size: 20px;
  color: rgb(121, 111, 111);
}
#footer p{
  margin-left: 400px;
  position: relative;
  top: 0;
  font-size: 20px;
  color: rgb(121, 111, 111);
}
:root{
  --bg-color:#121212;
  --text-color:white;
  --button-bg:#4caf50;
  --button-text:#ffffff;
}
.dark-mode{
  --bg-color:#f0f0f0;
  --text-color:#121212;
  --button-bg:#222;
  --button-text:#4caf50;
}
/* body{ */
  /* background-color: var(--bg-color); */
  /* color: var(--text-color); */

/* } */